@model IEnumerable<TodoApp.Models.Task>


<div class="text-center">
    <h6>Nova Tarefa</h6><a class="btn btn-outline-info fa fa-plus ml-2 btnRegisterTasks" style="width:60px;" asp-action="Register" asp-controller="Task"></a>
</div>

<div class="mt-4 alert alert-info">
    <h3 class="text-center">
        Suas Taferas
    </h3>

</div>
@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success text-center col-md-5 mb-5" style="margin:auto; border:1px solid green"><b>@TempData["MSG_S"]</b></p>
}

<div class="container">
    <div class="row">

        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                if (item.IsDone)
                {
                    <a id="task" style="cursor:default">
                        <div class="text-center">
                            <figure class="card card-task border-success mb-3 mt-5 mr-5">
                                <div class=" bg-transparent border-success">
                                    <div class="card-header">

                                        @if (item.Title.Length >= 10)
                                        {
                                            string value = item.Title.Substring(0, Math.Min(15, item.Title.Length));
                                            <span>@value ...</span>
                                        }
                                        else
                                        {
                                            <span>@item.Title</span>
                                        }
                                    </div>

                                    <div class="card-header-pills">
                                        <small class="text-danger done">Cumprido </small><i class="fas fa-check text-danger"></i>
                                    </div>
                                </div>

                                <div class="card-body">

                                    @if (item.Subtitle.Length >= 10)
                                    {
                                        string value = item.Subtitle.Substring(0, Math.Min(15, item.Subtitle.Length));
                                        <h6>@value ...</h6>
                                        <br />
                                    }
                                    else
                                    {
                                        <h6 class="card-title">@item.Subtitle</h6>
                                    }

                                    @if (item.Description.Length >= 20)
                                    {
                                        string value = item.Description.Substring(0, Math.Min(25, item.Description.Length));
                                        <span>@value ...</span>
                                        <br />
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.Description.Length</p>
                                    }
                                </div>
                                <div class="card-footer bg-transparent border-success">
                                    <a class="btn btn-outline-danger deleteTask" title="Excluir" asp-action="Delete" asp-route-id="@item.Id" onclick="alert_it()"><i class="fas fa-trash"></i></a>
                                </div>
                            </figure>
                        </div>
                    </a>
                }
                else
                {
                    <a id="task" asp-action="Update" asp-controller="Task" asp-route-id="@item.Id">
                        <div class="text-center">
                            <figure class="card border-success mb-3 mt-5 mr-5">
                                <div class=" bg-transparent border-success">
                                    <div class="card-header">

                                        @if (item.Title.Length >= 10)
                                        {
                                            string value = item.Title.Substring(0, Math.Min(15, item.Title.Length));
                                            <span>@value ...</span>
                                        }
                                        else
                                        {
                                            <span>@item.Title</span>
                                        }
                                    </div>
                                </div>

                                <div class="card-body">

                                    @if (item.Subtitle.Length >= 10)
                                    {
                                        string value = item.Subtitle.Substring(0, Math.Min(15, item.Subtitle.Length));
                                        <h6>@value ...</h6>
                                        <br />
                                    }
                                    else
                                    {
                                        <h6 class="card-title">@item.Subtitle</h6>
                                    }

                                    @if (item.Description.Length >= 20)
                                    {
                                        string value = item.Description.Substring(0, Math.Min(25, item.Description.Length));
                                        <span>@value ...</span>
                                        <br />
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.Description</p>
                                    }
                                    <small>Cumprir até @item.ConclusionDate.ToString("dd/MM/yyyy")</small>
                                    @if (item.ConclusionDate < DateTime.Today)
                                    {
                                        <br />
                                        <small class="text-danger">Tarefa com a conclusão atrasada</small>
                                    }
                                </div>
                                <div class="card-footer bg-transparent border-success">
                                    <a class="btn btn-outline-success btnIsDone" title="Cumprir" asp-action="IsDone" asp-controller="Task" asp-route-id="@item.Id"><i class="fas fa-check"></i></a>
                                    <a class="btn btn-outline-danger deleteTask" title="Excluir" asp-action="Delete" asp-route-id="@item.Id" onclick="alert_it()"><i class="fas fa-trash"></i></a>
                                </div>
                            </figure>
                        </div>
                    </a>
                }

            }
        }
        else
        {
            <div class="container">
                <div class="alert alert-warning">
                    <strong>Oops,</strong> Nenhuma tarefa cadastrada!
                </div>
            </div>
        }

    </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="registerModal">

                </div>
            </div>
        </div>
    </div>
</div>-->
