@model IEnumerable<TodoApp.Models.Task>

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success text-center col-md-5 mb-5" style="margin:auto; border:1px solid green"><b>@TempData["MSG_S"]</b></p>
}
@if (TempData["MSG_I"] != null)
{
    <p class="alert alert-danger text-center col-md-5 mb-5" style="margin:auto; border:1px solid red"><b>@TempData["MSG_I"]</b></p>
}
<div class="container mb-5 mt-5 alert alert-dark text-center">
    <h3>Ações gerais</h3>
    <div class="mt-4">
        <div class="row d-inline-block mr-5">
            <a class="btn btn-success btnRegisterTasks" asp-action="Create" asp-controller="Task"><i class="fa fa-plus"></i> Criar nova</a>
        </div>
        <div class="row d-inline-block mr-5">
            <a class="btn btn-success alertAction" onclick="alert_it()" asp-action="ConcludedAllTasks" asp-controller="Task"><i class="fa fa-check"></i> Cumprir todas as tarefas</a>
        </div>
        <div class="row d-inline-block mr-5">
            <a class="btn btn-danger alertAction" onclick="alert_it()" asp-action="DeleteAllTasksConcluded" asp-controller="Task"><i class="fa fa-trash"></i> Deletar tarefas cumpridas</a>
        </div>
        <div class="row d-inline-block mr-5">
            <a class="btn btn-danger alertAction" onclick="alert_it()" asp-action="DeleteAll" asp-controller="Task"><i class="fa fa-trash"></i> Deletar todas</a>
        </div>
    </div>
</div>



@if (Model.Count() > 0)
{
    <table class="table caption-top">

        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Infos</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            if (item.IsDone)
            {
                <tbody>
                    <tr>
                        <th scope="row">
                            <a id="task" class="btnDetails btn btn btn-light" asp-action="Details" asp-controller="Task" asp-route-id="@item.Id">
                                @item.Title
                            </a>
                        </th>
                        <td><small class="text-danger done ml-3">Cumprido </small><i class="fas fa-check text-danger"></i></td>
                        <td><a class="btn btn-outline-danger alertAction" title="Excluir" asp-action="Delete" asp-route-id="@item.Id" onclick="alert_it()"><i class="fas fa-trash"></i></a></td>
                    </tr>
                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <th scope="row">
                            <a id="task" class="btnDetails btn btn-light" asp-action="Details" asp-controller="Task" asp-route-id="@item.Id">
                                @item.Title
                            </a>
                        </th>
                        <td>
                            <small>Cumprir até @item.ConclusionDate.ToString("dd/MM/yyyy")</small>
                            @if (item.ConclusionDate < DateTime.Today)
                            {
                                <span> | </span> <small class="text-danger">Tarefa com a data de conclusão atrasada</small>
                            }
                        </td>
                        <td>
                            <a class="btn btn-outline-success btnIsDone " title="Cumprir" asp-action="isdone" asp-controller="task" asp-route-id="@item.Id"><i class="fas fa-check"></i></a>
                            <a class="btn btn-outline-primary" title="Editar" asp-action="Update" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-outline-danger alertAction" title="Excluir" asp-action="Delete" asp-route-id="@item.Id" onclick="alert_it()"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            }
        }

    </table>
}
else
{
    <div class="container text-center">
        <div class="alert alert-warning">
            Poxa, Nenhuma tarefa cadastrada, clique em <strong>"Criar Nova"</strong> e comece a gerenciar suas tarefas diárias!
        </div>
    </div>
}